# PyCitySchools

## Objective:
* Analyze the district-wide standardized test results:
    * Student's math and reading scores, as well as various information on the schools they attend.
* Help the school board and mayor make strategic decisions regarding future school budgets and priorities by aggregating the data and showcasing obvious trends in school performance

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_csv)
student_data = pd.read_csv(student_csv)

In [4]:
# Preview DataFrames
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [7]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
# Validations of data types and missing values

In [9]:
school_data_complete.dtypes
# Numeric data is stored as int

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [10]:
school_data_complete.count()
# Dataset does not contain missing values

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [11]:
# Standardize variable names

In [12]:
school_data_df = school_data_complete.rename(columns={"Student ID": "student_id",
                                                    "student_name": "student_name",
                                                    "gender": "gender",
                                                    "grade" : "grade",
                                                    "school_name": "school_name",
                                                    "reading_score": "reading_score",
                                                    "math_score": "math_score",
                                                    "School ID": "school_id",
                                                    "type": "type",
                                                    "size": "size",
                                                    "budget": "budget"
                                                   })

school_data_df.head()

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [13]:
# Explore data

In [14]:
school_data_df["type"].value_counts()
# There are two types of schools: District and Charter.
# There are more than twice as many District schools as Charter.

District    26976
Charter     12194
Name: type, dtype: int64

In [15]:
school_data_df["school_name"].value_counts()
# The school with most students is Bailey High School.

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [16]:
school_data_df["gender"].value_counts()
# There are more Female students.

F    19735
M    19435
Name: gender, dtype: int64

In [17]:
school_data_df["grade"].value_counts()
# 9th grade has the most students cuantity.

9th     11408
10th    10168
11th     9695
12th     7899
Name: grade, dtype: int64

In [18]:
school_data_df.describe()

,student_id,reading_score,math_score,school_id,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [19]:
# Calculate the total numbers of schools

total_schools = len(school_data_df["school_name"].unique())
total_schools

15

In [20]:
# Calculate total students
# Used student_id instead of name because there are students with the same name in different schools. (i.e Michael Smith -26)

total_students = len(school_data_df["student_id"].unique())
total_students

39170

In [21]:
# Calculate the total budget

total_budget = school_data["budget"].sum()
total_budget

24649428

In [22]:
# Calculate everage math grades
math_mean_score = school_data_df["math_score"].mean()
math_mean_score

78.98537145774827

In [23]:
# Calculate average reading grades
reading_mean_score = school_data_df["reading_score"].mean()
reading_mean_score

81.87784018381414

In [24]:
# Calculate the percentage of students with a passing math score (70 or greater)

students_passing_math = school_data_df.loc[school_data_df["math_score"]>=70]["math_score"].count()

percent_passing_math = students_passing_math / total_students
percent_passing_math

0.749808526933878

In [25]:
# Calculate the percentage of students with a passing reading score (70 or greater)

students_passing_reading = school_data_df.loc[school_data_df["reading_score"]>=70]["math_score"].count() 

percent_passing_reading = students_passing_reading / total_students
percent_passing_reading

0.8580546336482001

In [26]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)

students_passing_overal = school_data_df[(school_data_df["math_score"]>=70) & (school_data_df["reading_score"]>=70)]["student_id"].count()

overall_passing = students_passing_overal / total_students
overall_passing

0.6517232575950983

In [27]:
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting


district_summary_df = pd.DataFrame({"Total Schools": [total_schools],
                                   "Total Students": [total_students],
                                    "Total Budget": [total_budget],
                                    "Average Math Score": [math_mean_score],
                                    "Average Reading Score": [reading_mean_score],
                                    "% Passing Math": [percent_passing_math],
                                    "% Passing Reading": [percent_passing_reading],
                                    "% Overall Passing": [overall_passing]
                                   })

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

# District Summary

In [28]:
# Use mapping to style columns
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2%}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2%}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2%}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [29]:
# Grouping the DataFrame by School and set index for school name

school_group = school_data_df.set_index("school_name").groupby(["school_name"])

In [30]:
# School Types

school_type = school_data.set_index("school_name")['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [31]:
# Total Students by School

students_by_school = school_group["student_id"].count()
students_by_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_id, dtype: int64

In [32]:
# Total Budegt by School

budget_by_school = school_data.set_index("school_name")['budget']
budget_by_school

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [33]:
# Budget Per Student by School

budget_per_student = budget_by_school / students_by_school
budget_per_student

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [34]:
# Average Math Score by School

math_avg = school_group["math_score"].mean()
math_avg

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [35]:
# Average Reading Score by School

reading_avg = school_group["reading_score"].mean()
reading_avg

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [36]:
# % Passing Math by School

passing_math = school_data_df.loc[school_data_df["math_score"]>=70].groupby("school_name")["student_id"].count()

passing_math_pct = passing_math / students_by_school
passing_math_pct

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
Name: student_id, dtype: float64

In [37]:
# % Passing Reading by School

passing_reading = school_data_df.loc[school_data_df["reading_score"]>=70].groupby("school_name")["student_id"].count()

passing_reading_pct = passing_reading / students_by_school
passing_reading_pct

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: student_id, dtype: float64

In [69]:
# % Overall Passing (the percentage of students that passed math and reading) by School.

overall_pass_by_school = school_data_df[(school_data_df["math_score"]>=70) & (school_data_df["reading_score"]>=70)].groupby("school_name")["student_id"].count()


overall_passing_by_school = overall_pass_by_school / students_by_school
overall_passing_by_school

school_name
Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
Name: student_id, dtype: float64

In [70]:
# Create a dataframe to hold the above results

school_summary = pd.DataFrame({
                                   "School Type": school_type,
                                    "Total Students": students_by_school,
                                    "Total School Budget": budget_by_school,
                                    "Per Student Budget": budget_per_student,
                                    "Average Math Score": math_avg,
                                    "Average Reading Score": reading_avg,
                                    "% Passing Math": passing_math_pct,
                                    "% Passing Reading": passing_reading_pct,
                                    "% Overall Passing": overall_passing_by_school
                                   })

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

# School Summary

In [71]:
# save a copy without formatting for future analysis

school_summary_df = school_summary

# Use mapping to style columns

school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:.2f}".format)
school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:.2f}".format)
school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.2%}".format)
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.2%}".format)
school_summary_df["% Overall Passing"] = school_summary_df["% Overall Passing"].map("{:.2%}".format)

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [72]:
# Sort the data frame by "% Overall Passing" rate

top_performer_overall = school_summary_df.sort_values(["% Overall Passing"], ascending=[False])
top_performer_overall.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [73]:
# Sort the data frame by "% Overall Passing" rate

bottom_performer_overall = school_summary_df.sort_values(["% Overall Passing"], ascending=[True])
bottom_performer_overall.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [46]:
# Check unique grades

school_data_df["grade"].unique()

array(['9th', '12th', '11th', '10th'], dtype=object)

In [47]:
# Create table to store average math score for each grade by school
# 9th grade

math_score_9th = school_data_df.loc[school_data_df["grade"]=='9th'].groupby("school_name")["math_score"].mean()
math_score_9th

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [48]:
# 10th grade

math_score_10th = school_data_df.loc[school_data_df["grade"]=='10th'].groupby("school_name")["math_score"].mean()
math_score_10th

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [49]:
# 11th grade

math_score_11th = school_data_df.loc[school_data_df["grade"]=='11th'].groupby("school_name")["math_score"].mean()
math_score_11th

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [50]:
# 12th grade

math_score_12th = school_data_df.loc[school_data_df["grade"]=='12th'].groupby("school_name")["math_score"].mean()
math_score_12th

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

# Math Scores by Grade

In [51]:
# Create a dataframe to hold the above results

math_by_grade_df = pd.DataFrame({
                                   "9th": math_score_9th,
                                    "10th": math_score_10th,
                                    "11th": math_score_11th,
                                    "12th": math_score_12th
                                   })

math_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [52]:
# Create table to store average math score for each grade by school
# 9th grade

reading_score_9th = school_data_df.loc[school_data_df["grade"]=='9th'].groupby("school_name")["reading_score"].mean()
reading_score_9th

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [53]:
# 10th grade

reading_score_10th = school_data_df.loc[school_data_df["grade"]=='10th'].groupby("school_name")["reading_score"].mean()
reading_score_10th

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [54]:
# 11th grade

reading_score_11th = school_data_df.loc[school_data_df["grade"]=='11th'].groupby("school_name")["reading_score"].mean()
reading_score_11th

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [55]:
# 12th grade

reading_score_12th = school_data_df.loc[school_data_df["grade"]=='12th'].groupby("school_name")["reading_score"].mean()
reading_score_12th

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

# Reading Score by Grade

In [56]:
# Create a dataframe to hold the above results

reading_by_grade_df = pd.DataFrame({
                                   "9th": reading_score_9th,
                                    "10th": reading_score_10th,
                                    "11th": reading_score_11th,
                                    "12th": reading_score_12th
                                   })

reading_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [62]:
# Create bins in which to place values based upon school spending

spending_bins = [0, 585, 630, 645, 680]

# Create labels for these bins

spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Add new colum with spending bins into the data frame

school_data_df["Spending Ranges (Per Student)"] = pd.cut(school_data_df["budget"]/school_data_df["size"], spending_bins, labels = spending_labels)
school_data_df

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget,Spending Ranges (Per Student)
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,$645-680
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,$645-680
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,$645-680
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,$645-680
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,$645-680
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,$630-645
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,$630-645
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,$630-645
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,$630-645
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,$630-645

In [63]:
#Group by Spending

spending_group = school_data_df.groupby("Spending Ranges (Per Student)")

In [64]:
# Average Math Score

avg_math_spend = spending_group['math_score'].mean()
avg_math_spend

Spending Ranges (Per Student)
<$585       83.363065
$585-630    79.982873
$630-645    77.821056
$645-680    77.049297
Name: math_score, dtype: float64

In [65]:
# Average Reading Score

avg_reading_spend = spending_group['reading_score'].mean()
avg_reading_spend

Spending Ranges (Per Student)
<$585       83.964039
$585-630    82.312643
$630-645    81.301007
$645-680    81.005604
Name: reading_score, dtype: float64

In [67]:
# % Passing Math

pass_math_spend = school_data_df[school_data_df["math_score"]>=70].groupby("Spending Ranges (Per Student)")["student_id"].count()

passing_math_spend = pass_math_spend / spending_group["student_id"].count()
passing_math_spend

Spending Ranges (Per Student)
<$585       0.937029
$585-630    0.791099
$630-645    0.706236
$645-680    0.662308
Name: student_id, dtype: float64

In [74]:
# % Passing Reading

pass_read_spend = school_data_df[school_data_df["reading_score"]>=70].groupby("Spending Ranges (Per Student)")["student_id"].count()

passing_read_spend = pass_math_spend / spending_group["student_id"].count()
passing_read_spend

Spending Ranges (Per Student)
<$585       0.937029
$585-630    0.791099
$630-645    0.706236
$645-680    0.662308
Name: student_id, dtype: float64

In [75]:
# Overall Passing Rate (Average of the above two)


overall_pass_spend = school_data_df[(school_data_df["math_score"]>=70) & (school_data_df["reading_score"]>=70)].groupby("Spending Ranges (Per Student)")["student_id"].count()


overall_passing_spend = overall_pass_spend / spending_group["student_id"].count()
overall_passing_spend

Spending Ranges (Per Student)
<$585       0.906407
$585-630    0.709392
$630-645    0.588412
$645-680    0.535288
Name: student_id, dtype: float64

In [76]:
# Create a dataframe to hold the above results

school_spend_summary = pd.DataFrame({
                                   "Average Math Score": avg_math_spend,
                                    "Average Reading Score": avg_reading_spend,
                                    "% Passing Math": passing_math_spend,
                                    "% Passing Reading": passing_read_spend,
                                    "% Overall Passing": overall_passing_spend,

                                   })

school_spend_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.363065,83.964039,0.937029,0.937029,0.906407
$585-630,79.982873,82.312643,0.791099,0.791099,0.709392
$630-645,77.821056,81.301007,0.706236,0.706236,0.588412
$645-680,77.049297,81.005604,0.662308,0.662308,0.535288

# Scores by School Spending

In [77]:
# save a copy without formatting for future analysis

scores_school_spend = school_spend_summary

# Use mapping to style columns

scores_school_spend["Average Math Score"] = scores_school_spend["Average Math Score"].map("{:.2f}".format)
scores_school_spend["Average Reading Score"] = scores_school_spend["Average Reading Score"].map("{:.2f}".format)
scores_school_spend["% Passing Math"] = scores_school_spend["% Passing Math"].map("{:.2%}".format)
scores_school_spend["% Passing Reading"] = scores_school_spend["% Passing Reading"].map("{:.2%}".format)
scores_school_spend["% Overall Passing"] = scores_school_spend["% Overall Passing"].map("{:.2%}".format)

scores_school_spend

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.36,83.96,93.70%,93.70%,90.64%
$585-630,79.98,82.31,79.11%,79.11%,70.94%
$630-645,77.82,81.30,70.62%,70.62%,58.84%
$645-680,77.05,81.01,66.23%,66.23%,53.53%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [78]:
# Create bins in which to place values based upon school size

size_bins = [0, 1000, 2000, 5000]

# Create labels for these bins

size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Add new colum with spending bins into the data frame

school_data_df["School Size"] = pd.cut(school_data_df["size"], size_bins, labels = size_labels)
school_data_df

,student_id,student_name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget,Spending Ranges (Per Student),School Size
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,$645-680,Large (2000-5000)
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,$645-680,Large (2000-5000)
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,$645-680,Large (2000-5000)
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,$645-680,Large (2000-5000)
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,$645-680,Large (2000-5000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,$630-645,Medium (1000-2000)
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,$630-645,Medium (1000-2000)
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,$630-645,Medium (1000-2000)
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,$630-645,Medium (1000-2000)
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,$630-645,Medium (1000-2000)

In [79]:
#Group by Spending

size_group = school_data_df.groupby("School Size")

In [80]:
# Average Math Score

avg_math_size = size_group['math_score'].mean()
avg_math_size

School Size
Small (<1000)         83.828654
Medium (1000-2000)    83.372682
Large (2000-5000)     77.477597
Name: math_score, dtype: float64

In [81]:
# Average Reading Score

avg_reading_size = size_group['reading_score'].mean()
avg_reading_size

School Size
Small (<1000)         83.974082
Medium (1000-2000)    83.867989
Large (2000-5000)     81.198674
Name: reading_score, dtype: float64

In [82]:
# % Passing Math

pass_math_size = school_data_df[school_data_df["math_score"]>=70].groupby("School Size")["student_id"].count()

passing_math_size = pass_math_size / size_group["student_id"].count()
passing_math_size

School Size
Small (<1000)         0.939525
Medium (1000-2000)    0.936165
Large (2000-5000)     0.686524
Name: student_id, dtype: float64

In [83]:
# % Passing Reading

pass_read_size = school_data_df[school_data_df["reading_score"]>=70].groupby("School Size")["student_id"].count()

passing_read_size = pass_math_size / size_group["student_id"].count()
passing_read_size

School Size
Small (<1000)         0.939525
Medium (1000-2000)    0.936165
Large (2000-5000)     0.686524
Name: student_id, dtype: float64

In [84]:
# Overall Passing Rate (Average of the above two)


overall_pass_size = school_data_df[(school_data_df["math_score"]>=70) & (school_data_df["reading_score"]>=70)].groupby("School Size")["student_id"].count()


overall_passing_size = overall_pass_size / size_group["student_id"].count()
overall_passing_size

School Size
Small (<1000)         0.901368
Medium (1000-2000)    0.906243
Large (2000-5000)     0.565740
Name: student_id, dtype: float64

In [90]:
# Create a dataframe to hold the above results

school_size_summary = pd.DataFrame({
                                   "Average Math Score": avg_math_size,
                                    "Average Reading Score": avg_reading_size,
                                    "% Passing Math": passing_math_size,
                                    "% Passing Reading": passing_read_size,
                                    "% Overall Passing": overall_passing_size,

                                   })

school_size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.828654,83.974082,0.939525,0.939525,0.901368
Medium (1000-2000),83.372682,83.867989,0.936165,0.936165,0.906243
Large (2000-5000),77.477597,81.198674,0.686524,0.686524,0.565740

# Scores by School Size

In [91]:
# save a copy without formatting for future analysis

scores_school_size = school_size_summary

# Use mapping to style columns

scores_school_size["Average Math Score"] = scores_school_size["Average Math Score"].map("{:.2f}".format)
scores_school_size["Average Reading Score"] = scores_school_size["Average Reading Score"].map("{:.2f}".format)
scores_school_size["% Passing Math"] = scores_school_size["% Passing Math"].map("{:.2%}".format)
scores_school_size["% Passing Reading"] = scores_school_size["% Passing Reading"].map("{:.2%}".format)
scores_school_size["% Overall Passing"] = scores_school_size["% Overall Passing"].map("{:.2%}".format)

scores_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.83,83.97,93.95%,93.95%,90.14%
Medium (1000-2000),83.37,83.87,93.62%,93.62%,90.62%
Large (2000-5000),77.48,81.20,68.65%,68.65%,56.57%

## Scores by School Type

* Perform the same operations as above, based on school type

In [95]:
# Group by school type

type_group = school_data_df.groupby("type")

In [96]:
# Average Math Score

avg_math_type = type_group['math_score'].mean()
avg_math_type

type
Charter     83.406183
District    76.987026
Name: math_score, dtype: float64

In [99]:
# Average Reading Score

avg_reading_type = type_group['reading_score'].mean()
avg_reading_type

type
Charter     83.902821
District    80.962485
Name: reading_score, dtype: float64

In [101]:
# % Passing Math

pass_math_type = school_data_df[school_data_df["math_score"]>=70].groupby("type")["student_id"].count()

passing_math_type = pass_math_type / type_group["student_id"].count()
passing_math_type

type
Charter     0.937018
District    0.665184
Name: student_id, dtype: float64

In [102]:
# % Passing Reading

pass_read_type = school_data_df[school_data_df["reading_score"]>=70].groupby("type")["student_id"].count()

passing_read_type = pass_math_type / type_group["student_id"].count()
passing_read_type

type
Charter     0.937018
District    0.665184
Name: student_id, dtype: float64

In [103]:
# Overall Passing Rate (Average of the above two)


overall_pass_type = school_data_df[(school_data_df["math_score"]>=70) & (school_data_df["reading_score"]>=70)].groupby("type")["student_id"].count()


overall_passing_type = overall_pass_type / type_group["student_id"].count()
overall_passing_type

type
Charter     0.905609
District    0.536959
Name: student_id, dtype: float64

In [104]:
# Create a dataframe to hold the above results

school_type_summary = pd.DataFrame({
                                   "Average Math Score": avg_math_type,
                                    "Average Reading Score": avg_reading_type,
                                    "% Passing Math": passing_math_type,
                                    "% Passing Reading": passing_read_type,
                                    "% Overall Passing": overall_passing_type,

                                   })

school_type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
type,,,,,
Charter,83.406183,83.902821,0.937018,0.937018,0.905609
District,76.987026,80.962485,0.665184,0.665184,0.536959

# Scores by School Type

In [105]:
# save a copy without formatting for future analysis

scores_school_type = school_type_summary

# Use mapping to style columns

scores_school_type["Average Math Score"] = scores_school_type["Average Math Score"].map("{:.2f}".format)
scores_school_type["Average Reading Score"] = scores_school_type["Average Reading Score"].map("{:.2f}".format)
scores_school_type["% Passing Math"] = scores_school_type["% Passing Math"].map("{:.2%}".format)
scores_school_type["% Passing Reading"] = scores_school_type["% Passing Reading"].map("{:.2%}".format)
scores_school_type["% Overall Passing"] = scores_school_type["% Overall Passing"].map("{:.2%}".format)

scores_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
type,,,,,
Charter,83.41,83.90,93.70%,93.70%,90.56%
District,76.99,80.96,66.52%,66.52%,53.70%